<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CBA - Car Parking Application</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://www.commbank.com.au/">
                <img src="images/cbalogo.jpg"
                     th:src="@{images/cbalogo.jpg}"
                     alt="CBA" width="252" height="40"
                     border="0"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right  ">
                <li><a href="/">Home</a></li>
                <li><a href="http://bluemix.net/">Bluemix</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
                <li><a href="/">[User: <span th:text="${session.userid}" />]</a></li>
            </ul>
        </div>

    </div>
</div>
<!-- NAVBAR CODE END -->

<div class="bs-example">
    <div class="page-header">
        <h1>CBA <small>Car Parking Application - Confirmation Page</small></h1>
    </div>
</div>

<div class="bs-example">
    <div class="progress">
        <div class="progress-bar" style="width: 100%;">
            100%
        </div>
    </div>
</div>

<div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Success, Parking Location Confirmed!</strong> <b th:text="${actionStr}"></b>
</div>

<div class="bs-example">
    <form th:action="@{/survey}" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="helpful" class="control-label col-xs-6">Did you find this site helpful?</label>
            <div class="col-xs-2">
                <select name="helpful" id="helpful">
                    <option value="YES" selected="selected">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="use" class="control-label col-xs-6">Was this site easy to use?</label>
            <div class="col-xs-2">
                <select name="use" id="use">
                    <option value="YES" selected="selected">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="again" class="control-label col-xs-6">Would you use this site again?</label>
            <div class="col-xs-2">
                <select name="again" id="again">
                    <option value="YES" selected="selected">YES</option>
                    <option value="NO">NO</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-4 col-xs-10">
                <button type="submit" class="btn btn-primary">Send Feedback</button>
            </div>
        </div>
    </form>
</div>

<div class="clearfix">
</div>

<div>
    <hr size="2" />
</div>

<div th:include="footer :: copy"></div>

</body>
</html>